* {
	font-family: 'Georgia', 'Times New Roman', serif;
}

body {
	margin: 0px;
	text-align: center;
}

#processingCanvas {
	position: fixed;
	top: 50%;
	margin-top: -360px;
	left: 50%;
	margin-left: -480px;
	height: 100%;
	display: inline-block;
}

#p5_loading {
	display: none;
}